<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Proyecto Spring</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><h1> Hola Mundo desde Spring!!!</h1>
        <div>
        <ol> 
        <li>Wuilman</li>
        <li>Pedro </li>
        <li>Luis</li>
        </ol>
    </div>


        
        </div>
    </body>
</html>
